.jumbotron {
	background-color: white;
	color: #2b78c1;
	text-align: center;
}
.display-3{
	font-weight: bold;
}
i{
	padding: 7px;
}
span{
color: #2b78c1;
font-size: 2em;
}

#logo2{
	height: 80px;
	padding-right: 10px;
}